.content {
  margin-left: 200px;
  width: 100%;
}

.content__results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 100%;
  background-color: #f9f9f9;
  padding: 10px;
  flex: 1;
}

@media (max-width: 1150px) {
  .content__results {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 890px) {
  .content__results {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .content__results {
    grid-template-columns: 1fr;
  }
}
