.header {
  position: sticky;
  top: -8px;
  z-index: 100;
}

.header__top,
.header__top > * {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__top {
  padding: 0px;
  margin-top: -10px;
  background-color: #fff;
}

.headerLeft {
  flex: 0.2;
  color: #11111199;
  margin-left: 10px;
}
.headerLeft .MuiSvgIcon-root {
  cursor: pointer;
}

.headerLeft img {
  width: 100px;
  margin-top: -3px;
  cursor: pointer;
}

.headerLeft--leftCol {
  margin-left: 15px;
  margin-right: 10px;
}

.headerCenter {
  flex: 0.6;
  color: #33333399;
  justify-content: center;
  height: 45px;
}

.headerCenter > input {
  width: 100%;
  max-width: 350px;
  border: 1px solid #33333340;
  border-radius: 2px;
  height: 27px;
  padding-left: 10px;
  font-weight: 600;
}

.headerCenter > input:focus {
  outline-width: 0;
}

.headerCenter__search {
  background-color: #cccccc50;
  font-size: 16px !important;
  padding: 6.5px 14px;
  border: 1px solid #cccccc;
  margin-left: -1px;
  margin-right: 10px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}

.headerRight {
  flex: 0.2;
  color: #11111199;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: 20px;
}

.headerRight .MuiSvgIcon-root {
  cursor: pointer;
}

.headerRight > button {
  width: 60px;
  margin: 0 10px;
  background-color: rgb(209, 3, 3);
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.headerRight > button:focus {
  outline-width: 0;
}

.header__bottom {
  margin-left: 200px;
  background-color: #fff;
}

/*  POPUP FROM SIGN IN */

.popup__container > p {
  margin-bottom: 10px;
}

.popup__container > button {
  width: 60px;
  background-color: rgb(209, 3, 3);
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.popup__container > button:focus {
  outline-width: 0;
}
.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 20px;
}
.popup-arrow {
  display: none;
}
[role="tooltip"].popup-content {
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 3px;
  position: absolute !important;
  top: -53% !important;
  height: 300px;
  width: 300px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
