.watch {
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 100;
  background-color: #fff;
  width: 100%;
  display: grid;
  grid-template: auto auto auto 1fr / auto 402px;
  grid-row-gap: 8px;
}
